/*color : #0C2752
  theme: #6f42c1
  theme2: #e0cdff*/

body {
    background-color: #eaddff;
}

.nav-link {
    color: #4c2e81;
}

.container-fluid {
    height: 100%;
    width: 90%;
}

@media screen and (max-width: 605px) {
    .navbar-brand {
      display: block;
      padding-right: 10%;
      margin: 0 auto;
    }
    ul.nav {
        margin: 0 auto;
    }
    ul.btn {
        padding-left: 35%;
    }
  }

  @media screen and (max-width: 685px) {
    .btn {
       flex-direction: row;
       display: block;
       margin-bottom: 5px;
    }
    ul, btn {
        padding-left: 35%;
    }
  }

  @media screen and (min-width: 685px) {
    ul.pt-4 {
        margin: 0 auto;
    }
  }

#carouselExampleSlidesOnly .carousel-item img {
    object-fit: contain;
    object-position: center;
    overflow: hidden;
    height: 100vh;
}

#carouselExampleIndicators .carousel-item img {
    object-fit: contain;
    object-position: center;
    overflow: hidden;
    height: 100vh;
}

#about .container img {
    object-fit: contain;
    object-position: center;
    overflow: hidden;
    height: 100vh;
}

/* 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

  <!-- Navbar Buttons -->
                    <ul class="pt-4">
                        <button type="button" class="btn" style="background-color: #6f47b8;">
                            <a class="text-decoration-none text-light" href="https://my.churchplus.co/event/5ec9b377-25dc-4e2e-81ae-01cd00652d1a">Register IC-2023 Day1</a>
                        </button>
                        <button type="button" class="btn" style="background-color: #6f47b8;">
                            <a class="text-decoration-none text-light" href="https://my.churchplus.co/event/5ec9b377-25dc-4e2e-81ae-01cd00652d1a">Register IC-2023 Day2</a>
                        </button>
                        <button type="button" class="btn" style="background-color: #6f47b8; margin-right: 70px;">
                            <a class="text-decoration-none text-light" href="https://my.churchplus.co/event/5ec9b377-25dc-4e2e-81ae-01cd00652d1a">Register IC-2023 Day3</a>
                        </button>
                    </ul>

*/