/*color : #0C2752
  theme: #6f42c1
  theme2: #e0cdff*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eaddff;
}

.nav-link {
  color: #4c2e81;
}

.container-fluid {
  height: 100%;
  width: 90%;
}

@media screen and (max-width: 605px) {
  .navbar-brand {
    display: block;
    padding-right: 10%;
    margin: 0 auto;
  }
  ul.nav {
    margin: 0 auto;
  }
  ul.btn {
    padding-left: 35%;
  }
}

@media screen and (max-width: 685px) {
  .btn {
    flex-direction: row;
    display: block;
    margin-bottom: 5px;
  }
  ul,
  btn {
    padding-left: 35%;
  }
}

@media screen and (min-width: 685px) {
  ul.pt-4 {
    margin: 0 auto;
  }
}

#carouselExampleSlidesOnly .carousel-item img {
  object-fit: contain;
  object-position: center;
  overflow: hidden;
  height: 100vh;
}

#carouselExampleIndicators .carousel-item img {
  object-fit: contain;
  object-position: center;
  overflow: hidden;
  height: 100vh;
}

#about .container img {
  object-fit: contain;
  object-position: center;
  overflow: hidden;
  height: 100vh;
}

.btn1,
.btn2,
.btn3 {
  display: inline-block;
  background-color: #ffa600;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 9px;
}

.btn1:hover {
  background-color: #6f47b8;
  color: #fff;
}

.btn2:hover {
  background-color: #6f47b8;
  color: #fff;
}

.btn3:hover {
  background-color: #6f47b8;
  color: #fff;
}
